In [45]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
from sklearn import preprocessing
import numpy as np

def save_data(symbol):
    API_KEY = 'DTJYUMAWMLMQYLRB'

    ts = TimeSeries(key=API_KEY, output_format='pandas')
    # Get json object with the intraday data and another with  the call's metadata
    data, meta_data = ts.get_daily(symbol, outputsize='full')
    data.to_csv(f'./{symbol}_daily.csv')

def load_data(symbol):
    history_points = 50
    data = pd.read_csv(f'./{symbol}_daily.csv')
    data = data.drop('date', axis=1)
    data = data.drop(0, axis=0)
    return data
#     data_normaliser = preprocessing.MinMaxScaler()
#     data_normalised = data_normaliser.fit_transform(data)
#        # using the last {history_points} open high low close volume data points, predict the next open value
    
#     return data_normalised

In [46]:
data = load_data('MSFT')
data

       1. open  2. high    3. low  4. close   5. volume
1     162.8235  163.220  161.1800    161.34  20733946.0
2     161.8350  162.215  161.0300    162.09  21399951.0
3     158.9300  160.800  157.9491    160.09  27762026.0
4     159.3200  159.670  157.3200    157.58  21881740.0
5     157.0800  159.100  156.5100    159.03  20826702.0
...        ...      ...       ...       ...         ...
5027  110.5000  111.500  106.0000    107.00  48784100.0
5028  111.8100  116.500  111.7500    115.31  40741800.0
5029  107.1900  113.940  105.7500    112.25  36708200.0
5030  104.3700  108.620  101.5000    107.81  41572000.0
5031  108.5000  108.870  104.4400    105.81  33266200.0

[5031 rows x 5 columns]

In [87]:
data = load_data('MSFT')
history_points = 50
data_normaliser = preprocessing.MinMaxScaler()
data_normalised = data_normaliser.fit_transform(data)
ohlcv_histories_normalised =      np.array([data_normalised[i  : i + history_points].copy() for i in range(len(data_normalised) - history_points)])
next_day_open_values_normalised = np.array([data_normalised[i + history_points][0].copy() for i in range(len(data_normalised) - history_points)])
next_day_open_values_normalised = np.expand_dims(next_day_open_values_normalised, -1)

next_day_open_values_normalised

array([[0.87303173],
       [0.87519941],
       [0.84092302],
       ...,
       [0.62313927],
       [0.60403662],
       [0.6320132 ]])

In [77]:
data_normalised[:,0][0]

1.0